* {
    margin: 0;
    padding: 0;
}

#nav-bar {
    background-color: #52057b;
    position: sticky;
    top: 0;
    z-index: 10;
    float: right;
}

.navbar {
    padding: 0 !important;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.navbar-brand {
    font-size: 1.5rem;
    color: #5f6368!important;
}

.nav-link {
    float: right;
    color: #5f6368!important;
}

.nav-link:hover {
    background-color: blue;
}


/* navbar css ends here  */

#main {
    text-align: center;
    background-color: #31326f;
}

.my-info {
    padding: 2rem 5rem;
}

.btn-info {
    padding: 1rem 1.2rem;
    background-color: rgb(35, 127, 212)!important;
    color: #fff!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover {
    background-color: rgb(67, 83, 230)!important;
}
